<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Page</title>
    <style>
        .center-div{
            display: flex;
            justify-content: center;
        }
        table{
            margin: 40px;
            text-align: center;
        }
    </style>
</head>

<body>

    <div ng-app="myApp" ng-controller="myCtrl">

        <div ng-include="'navbar.html'"></div>

        <h1 class="mt-4 text-center">Fees Structure</h1>

        
        <div class="center-div">
            <table class="table table-bordered border-info mt-4">
                <thead>
                    <tr ng-repeat="a in course">
                        <th><h5>Coures Name: {{ a.c1 }}</h5></th>
                        <th><h5>Coures Name: {{ a.c2 }}</h5></th>
                        <th><h5>Coures Name: {{ a.c3 }}</h5></th>
                        <th><h5>Coures Name: {{ a.c4 }}</h5></th>
                        <th><h5>Coures Name: {{ a.c5 }}</h5></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="a in fees">
                        <th>{{ a.a1 }}</th>
                        <th>{{ a.b1 }}</th>
                        <th>{{ a.c1 }}</th>
                        <th>{{ a.d1 }}</th>
                        <th>{{ a.e1 }}</th>
                    </tr>
                </tbody>
            </table>
        </div>


        <h1 class="mt-4 text-center">Select Short Course</h1>

        <select ng-model="course" class="center-div">
            <option value="1">Office Automation</option>
            <option value="2">Web Designing </option>
            <option value="3">Web Development</option>
        </select>

        <div class="center-div" ng-switch="course">

            <div ng-switch-when="1">
                <div class="card w-50 m-3">
                    <div ng-repeat="image in card_image">
                        <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
                            <img class="w-100 h-100" src="{{ image }}" class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Office Automation</h5>
                        <p class="card-text">Office Automation Available on timing 9am to 5pm on Monday , Wednesday And Friday.
                        </p>
                        <p class="card-text">Duration: 3 Months</p>
                        <p class="card-text">Fees: 22,000</p>
                        <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Apply Now</a>
                    </div>
                </div>
            </div>

            <div ng-switch-when="2">
                <div class="card w-25 m-3">
                    <div ng-repeat="image in card_image">
                        <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
                            <img class="w-100 h-100" src="{{ image }}" class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Web Designing</h5>
                        <p class="card-text">Web Designing Course Available on timing 9am to 5pm on Monday , Wednesday And Friday.
                        </p>
                        <p class="card-text">Duration: 4 Months</p>
                        <p class="card-text">Fees: 30,000</p>
                        <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Apply Now</a>
                    </div>
                </div>
            </div>

            <div ng-switch-when="3">
                <div class="card w-25 m-3">
                    <div ng-repeat="image in card_image">
                        <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
                            <img class="w-100 h-100" src="{{ image }}" class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Web Development</h5>
                        <p class="card-text">Web Development Courses Available on timing 9am to 5pm on Monday , Wednesday And Friday.
                        </p>
                        <p class="card-text">Duration: 6 Months</p>
                        <p class="card-text">Fees: 40,000</p>
                        <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Apply Now</a>
                    </div>
                </div>
            </div>

            <div ng-switch-default="">
                <h2>Please Select any 1 Course</h2>
            </div>

        </div>

        
        

        <div ng-include="'footer.html'"></div>

    </div>

    <!-- MDB -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.umd.min.js"></script>
    <script src="angular.min.js"></script>
    <script src="controller.js"></script>

</body>

</html>