<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Page</title>
    <style>
        .center-div{
            display: flex;
            justify-content: center;
        }
        table{
            margin: 40px;
            text-align: center;
        }
    </style>
</head>

<body>

    <div ng-app="myApp" ng-controller="myCtrl">

        <div ng-include="'navbar.html'"></div>

        <h1 class="mt-4 text-center">Fees Structure</h1>

        
        <div class="center-div">
            <table class="table table-bordered border-info mt-4">
                <thead>
                    <tr ng-repeat="a in course">
                        <th><h5>Coures Name: {{ a.c1 }}</h5></th>
                        <th><h5>Coures Name: {{ a.c2 }}</h5></th>
                        <th><h5>Coures Name: {{ a.c3 }}</h5></th>
                        <th><h5>Coures Name: {{ a.c4 }}</h5></th>
                        <th><h5>Coures Name: {{ a.c5 }}</h5></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="a in fees">
                        <th>{{ a.a1 }}</th>
                        <th>{{ a.b1 }}</th>
                        <th>{{ a.c1 }}</th>
                        <th>{{ a.d1 }}</th>
                        <th>{{ a.e1 }}</th>
                    </tr>
                </tbody>
            </table>
        </div>
        
        

        <div ng-include="'footer.html'"></div>

    </div>

    <!-- MDB -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.umd.min.js"></script>
    <script src="angular.min.js"></script>
    <script src="controller.js"></script>

</body>

</html>